.box{
    height:300px;
    width:200px;
    margin-left:80px; 
    margin-top: 80px;
    border: 5px solid;color:navy;
} 
.k1{
    height:300px;
    width:200px;
    margin-left: 80px;
    margin-top: 80px;
    border: 5px solid;color:navy;
} 

.k2{
    height:300px;
    width:200px;
    margin-left:80px;
    margin-top: 80px;
    border: 5px solid;color:navy;
} 
