h3{
    color: rgb(56, 21, 212);
}
 body{
    background-color: rgb(6, 9, 36);
    background-image: url("https://c4.wallpaperflare.com/wallpaper/611/838/413/spiderman-hd-4k-superheroes-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100% 100%;
    background-attachment: fixed;
 }