.k1{
    height:200px;
    width:200px;
    margin-left:50px; 
    margin-top: 50px;
}
.k2{
    height:200px;
    width:200px;
    margin-left:50px; 
    margin-top: 50px;
}
.k3{
    height:200px;
    width:200px;
    margin-left:50px; 
    margin-top: 50px;
}
.k4{
    height:200px;
    width:200px;
    margin-left:50px; 
    margin-top: 50px;
}
.k5{
    height:200px;
    width:200px;
    margin-left:50px; 
    margin-top: 50px;
}
.k6{
    height:200px;
    width:200px;
    margin-left:50px; 
    margin-top: 50px;
    padding-bottom: 40px;
}
.k7{
    height:200px;
    width:200px;
    margin-left:50px; 
    margin-top: 50px;
    padding-bottom: 40px;
}
.k8{
    height:200px;
    width:200px;
    margin-left:50px; 
    margin-top: 50px;
    padding-bottom: 40px;
}
.k9{
    height:200px;
    width:200px;
    margin-left:50px; 
    margin-top: 50px;
    padding-bottom: 40px;
}
.k10{
    height:200px;
    width:200px;
    margin-left:50px; 
    margin-top: 50px;
    padding-bottom: 40px;
}